<h3>basic-table</h3>

{{#if isLoading}}
    <div class="table loader">
        <div class="ui active centered inline text loader">Loading</div>
    </div>
{{else}}
    <blockquote class="blockquote">
        <p>total={{totalNumberOfRows}}, currentPage={{currentPage}}, numberOfPages={{numberOfPages}}</p>
    </blockquote>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    {{#each columns as |column|}}
                        <th>{{column.label}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each visibleRows as |row|}}
                    <tr>
                        {{#each columns as |column|}}
                            {{#if (eq column.cells.type 'date')}}
                                <td>{{moment-format (get row column.valuePath) column.cells.pattern}}</td>
                                {{else if (eq column.cells.type 'number')}}
                                <td>{{number-format (get row column.valuePath) column.cells.postfix digits=column.cells.digits decSep=column.cells.decSep thousSep=column.cells.thousSep}}{{column.valuePostfix}}</td>
                            {{else}}
                                <td>{{get row column.valuePath}}</td>
                            {{/if}}
                        {{/each}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item {{if (lte currentPage 0) 'disabled'}}">
                    <a class="page-link" {{action "navigateToPage" (sub currentPage 1)}} href="#">
                        <span>&laquo;</span>
                    </a>
                </li>
                {{#each (iterate numberOfPages) as |page|}}
                    <li class="page-item {{if (eq page currentPage) 'active'}}">
                        <a class="page-link" {{action "navigateToPage" page}} href="#">
                            <span>{{add page 1}}</span>
                        </a>
                    </li>
                {{/each}}
                <li class="page-item {{if (gte currentPage (sub numberOfPages 1)) 'disabled'}}">
                    <a class="page-link" {{action "navigateToPage" (add currentPage 1)}} href="#">
                        <span>&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{{/if}}
